body {
	margin: 0;
	background-color: lightgoldenrodyellow;
	font-family: Inter, sans-serif;
	color: #ffffff;
}
h1 {
	margin: 0;
	border: none;
	padding: 0;
}
.header {
	text-align: center;
	padding: 20px 0px 10px 0px;
}
.mainData {
	margin: 10px 50px;
	height: 100%;
	background-color: #778899;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer h1 {
	text-align: center;
	width: 100%;
	font-size: 14px;
	color: #242021;
	margin: 30px 0px 20px 0px;
}
.selectXorO {
	background-color: #ffffff;
	color: #242021;
	padding: 15px;
	border-radius: 5px;
	border: none;
	font-size: 40px;
	font-weight: 600;
	width: 100px;
	transition: all 0.25s ease;
	cursor: pointer;
	text-align: center;
}
.resetButton {
	margin: 10px 10px 0px 10px;
	background-color: #ffffff;
	color: #242021;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	font-weight: 600;
	transition: all 0.25s ease;
	cursor: pointer;
	text-align: center;
}
.selectPage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 175px 400px;
}
.selectOption {
	background-color: #ffffff;
	text-decoration: none;
	color: #242021;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	border: none;
	transition: all 0.25s ease;
}
.selectPage {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 50px;
	height: 325px;
	background-color: #778899;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}
footer a {
	text-decoration: underline;
	color: #000;
}
.selectXorO:hover,
.selectOption:hover,
.resetButton:hover {
	background-color: #2cbcb2;
	color: #ffffff;
}
.row {
	display: flex;
}
.container .row:nth-child(2n) .box:nth-child(2n),
.container .row:nth-child(2n + 1) .box:nth-child(2n + 1) {
	background-color: #2cbcb2;
}
.container .row:nth-child(2n) .box:nth-child(2n + 1),
.container .row:nth-child(2n + 1) .box:nth-child(2n) {
	background-color: #d44e28;
}
.box {
	cursor: pointer;
	height: 125px;
	width: 125px;
	font-size: 75px;
	font-weight: bold;
	color: #242021;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttonContainer {
	margin: 20px;
	display: flex;
	width: 450px;
	justify-content: space-between;
}
.whosChance {
	margin: 15px;
}
